

@import url('https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,300..900;1,300..900&display=swap');


:root
{
    --very-dark-greyish-blue:hsl(217,19%,35%);
    --Desaturated-dark-blue:hsl(214,17%,51%);
    --grayish-blue:hsl(212,23%,69%);
    --light-grayish-blue:hsl(210,46%,95%);

    --main-font:13px;

    --small-weight:500;

    --large-weight:700;

}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    width: 100vw;
    font-family: 'Manrope', sans-serif;
    font-size: var(--main-font);
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* #region Global Classes */

.white-filter
{
    filter: invert(1) brightness(3);
}

.dark-greyish-background
{
    background-color: var(--very-dark-greyish-blue);
}

.light-greyish-background
{
    background-color: var(--light-grayish-blue);
}

.desaturdated-dark-blue
{
    background-color: var(--Desaturated-dark-blue);
}



/* #endregion */


/* #region Desktop Query */

.container
{
    width: 700px;
    height: 300px;
    display: flex;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: visible;
    border-radius: 10px;
}

/* #region Image */

.image
{
    height: 100%;
}

.image img
{
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}

/* #endregion */

/* #region Data */

.data
{
    flex: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    overflow: visible;
}

.title
{
    width: 80%;
    height: 75%;
    display: inherit;
    flex-direction: inherit;
    justify-content: space-evenly;
    line-height: 1.5em;
}

.bolded-data
{
    font-weight: 700;
    font-size: 17px;
    line-height: inherit;
    color: var(--Desaturated-dark-blue);
}

.about-info
{
    font-size: 12px;
    color: var(--grayish-blue);
    line-height: inherit;
}


.about-author
{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    position: relative;
}

.author
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author img
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.author p
{
    font-size: 12px;
    color: var(--grayish-blue);
}

.btn
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.btn:hover
{
    cursor: pointer;
    color: white;
    background-color: var(--very-dark-greyish-blue);
    color: white;
}



.btn:hover .share-image
{
    filter: invert(1) brightness(3);
}

.share-image
{

}

 
/* #endregion */



/* #region Share Buttons */

.social-media
{
    width: 250px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    right: -98px;
    top: -60px;

    padding: 15px 0px;

}

.social-media::after
{
    content: '';
    position: absolute;
    bottom:0px;
    left: 50%;
    border-width: 10px;
    transform: translateX(-50%);
    transform: translateY(100%);
    border-style: solid;
    border-color: var(--very-dark-greyish-blue) transparent transparent transparent;
}

.is-visible
{
    display: flex;
}

.not-visible
{
    display: none;
}

.links-data
{
    color: var(--grayish-blue);
    font-weight: 500;
    letter-spacing: 3px;
}

.social-media button
{
    background:none;
    border: none;
    cursor: pointer;
}

.social-media-image
{
    background: transparent;
    opacity: 1;
}



/* #endregion */






/* #region Mobile Query */


@media (max-width: 375px)
{
    /* #region Desktop  */

    .container
    {
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* #region Image */

    .image
    {
        height: 200px;
        width: 100%;
    }

    .image img
    {
        height: 100%;
        width: 100%;
    }

    /* #endregion */

    /* #region Data */

    .about-author
    {
        width: 100%;
        justify-content: space-around;
        /* background-color: var(--very-dark-greyish-blue); */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .about-author.active-background 
    {
        background-color: var(--very-dark-greyish-blue)!important; 
    }

    .author
    {
        
    }

    .btn
    {
        
    }

    .btn:hover
    {
       
    }

    .share-image
    {
        /* filter: invert(1) brightness(3); */
    }

    
    /* #endregion */



    /* #region Share Buttons */

    .social-media
    {
        width: 250px;
        
        border-radius: 10px;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly; */


        padding: 15px 0px;


        position: relative; 
        right: auto; 
        top: auto; 


    }

    .social-media::after
    {
        visibility: hidden;
    }


    .social-media button
    {

    }

}

    /* #endregion */